<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        html, body {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          overflow-x: hidden;
        }
        h1 {
          color: rgba(242,252,254,1);
        }
    </style>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <title>Welcome, User!</title>
  </head>
  <body>
    <div class="row one">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p id="surya">Surya Nirvana</p>
            <h1 id="welcome">Hi there!</h1>
            <p id="info">let's get to know each other</p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row two">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" id="name" name="name" maxlength="50" placeholder="What's your name?" required>
                    <input type="text" class="form-control" id="status" name="status" maxlength="50" placeholder="Tell us how are you feeling today" required>
                    <div class="row three">
                            <button type="submit" class="btn" name="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row four">
      <div class="col-md-3"></div>
      <div class="col-md-6 res">
        <h1 id="responses">Responses</h1>
        <button id="change-color" onclick="change()">Change Color</button>
        <div class="response">
          {% for i in user %}
          <div id="res">
            <div class="change">
            <h1 id="time" class="time">{{ i.timestamp }}</h1>
            <h1 id="name" name="name" class="name">Name: {{ i.name }}</h1>
            <h1 id="status" name="status" class="status">Status: {{ i.status }}</h1>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
  <script>
    function change() {
      var time = document.getElementsByClassName("time");
      var name = document.getElementsByClassName("name");
      var status = document.getElementsByClassName("status");
      var i;
      for(i = 0; i < time.length; i++) {
        time[i].style.color = "rgba(33,37,41,1)";
      }   
      for(i = 0; i < name.length; i++) {
        name[i].style.color = "rgba(33,37,41,1)";
      }
      for(i = 0; i < status.length; i++) {
        status[i].style.color = "rgba(33,37,41,1)";
      }      
    }
  </script>
</html>